@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", serif;
}
p{
    font-size: 0.9rem;
}
.reservation-box{
    display: flex;
    justify-content: center;
}
.reservation{
    width: 1100px;
    padding: 30px;
}

.reservation{
    width: 850px;
}
.section-1{
    margin-top: 10px;
}
.hotel-left-yourReservation{
    display: flex;
    width: 810px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    padding: 20px;
}
.hotel-left-right{
    display: flex;
    gap: 40px;
    padding: 20px;
}
.hotel-left-right img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.yourReservation-section2{
    gap: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.yourReservation-section2-left{
    width: 50%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    text-align: center;
}
.yourReservation-section2-right{
    width: 50%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    text-align: center;
}
.yourReservation-section2-right input{
    padding: 10px 15px;
    border: none;
    background-color: #1a2c42;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.yourReservation-section2-right input:hover{
    background-color: #2b486b;
}
.yourReservation-section3{
    margin-top: 10px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    text-align: center;
}
.yourReservation-section3 input{
    padding: 10px 15px;
    border: none;
    background-color: #6e0909;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.cancelReservation-window {
    text-align: center;
    width: 500px;
    padding: 20px;
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 1000px rgba(0, 0, 0, 0.815);
    border-radius: 10px;
    z-index: 1000;
}

.cancelReservation-window h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #000000;
}

.cancelReservation-window p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.cancelReservation-window-button {
    padding: 10px 20px;
    border: none;
    background-color: #1A2C42;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}


.cancelReservation-window-button:active {
    background-color: #0F1E2D;
}

.cancelReservation-window-button.cancel {
    background-color: #1A2C42;
}


.cancelReservation-window-button.cancel:active {
    background-color: #ac2925;
}