.boxCheck2{
    display: flex;
    justify-content: center;

}
.check2{
    padding: 20px;
    margin: 20px;
    border: 1px solid;
    width: 1000px;
}
.status{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.status1{
    width: 200px;
    height: 20px;
    background-color: aqua;
}
.status2{
    width: 200px;
    height: 20px;
    background-color: rgb(172, 172, 172);
}
.date{
    display: flex;
    gap: 20px;
    text-align: center;
}
.peopleCart{
    display: flex;
    gap: 20px;
}
.peopleCart-box{
    background-color: rgb(19, 19, 19);
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}