@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", serif;
}
.reserwation{
    width: 850px;
}
.reservation-box{
    margin: 20px;
}

/* Date */

.date-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: rgb(68, 68, 68);
    font-weight: bold;
}
.date-box div{
    text-align: center;
}
.date-inputs{
    text-align: center;
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.089);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.075);
    border-radius: 5px;
}

.date-inputs p {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(0, 0, 0);
}
/* status */
.status .status1{
    background-color: #2e2e2e;
}

/* Input */

.date-box input{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
}
.reservation-details input{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
}
.input-box input{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
}
.input-box{
    margin-top: 40px;
}

.input-box p {
    position: absolute;
    margin-top: -15px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

/*reservationData*/

.reservation-details{
    border: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.075);
    border-radius: 15px;
    padding: 20px;
}
.inputs-Group{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/*Person*/
.person h2{
    color: #c8d1fd;
    font-weight: bold;
    text-align: center;
}
.person p {
    font-size: 0.9rem;
    color: rgb(218, 218, 218);
    font-weight: bold;position: absolute;
}
.person input{
    margin-top: 40px;
}
.person{
    color: #ffffff;
    background-color: #1A2C42;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.13);
    width: 330px;
    margin-top: 20px;
    padding: 20px;
}
.Cart-people{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 850px; 
    margin: 0 auto;
}

/* Button */

.submit-button {
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem; 
    padding: 20px 30px; 
    border: none;
    background-color: #1A2C42;
    color: #ffffff;
    border-radius: 5px;
    width: 400px;
  
}
.button-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

/* Top-element */
/* left */
.hotel-top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.hotel-left{
    width: 400px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.068);
}
.hotel-right{
    width: 400px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.068);
}
.hotel-left-opinion{
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    align-items: center;
    margin-top:-20px
}
.hotel-location{
    font-size: 0.9rem;
    margin-top: -10px;
}
.hotel-guestRating{
    background-color: #068bf7a9;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}
.hotel-opinion{
    color: #535353;
}
/* right */

.hotel-right p {
    font-size: 0.9rem;

}
/* Error */
.Error-box{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.Error{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(255, 0, 0, 0.075);
    border: 1px solid rgb(255, 2, 2);
    border-radius: 10px;
    padding: 20px;
}

/* special-wishes */

.special-wishes{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    margin-top: 10px;
}
.special-wishes p {
    font-size: 0.9rem;
}
.special-wishes h5{
    position: relative;
    font-size: 0.9rem;
}
.special-wishes-box{
    display: flex;
    flex-direction: column;
    row-gap: -20px;
}
.special-wishes-textarea{
    font-family: "Open Sans", serif;
    width: 97%;
    max-width: 97%;
    min-width: 97%;
    max-height: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    font-size: 0.9rem;
}
