@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    color: black;
    font-family: "Open Sans", serif;
}
.Cart{
    font-family: "Open Sans", serif;
    align-items: center;
    color: rgb(14, 14, 14);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.13);
    text-decoration: none;
    border-radius: 6px;
    margin: 20px;
    height: 260px;

}


.Cart-items{
    display: flex;
    justify-content: space-between;
}
header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #1A2C42;
}

.header-top {  
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;

}
.favouriteLinkP{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background-color: aliceblue;
}
.favouriteLinkP:hover{
    background-color: rgb(219, 219, 219);
}
.header-center{
    display: flex;
    gap: 50px;
    margin-left: 10px;
}
.favouriteLink{
    text-decoration: none;
    text-align: center;
    align-items: center;
}
.header-center ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: -30px;
}
.header-center ul li {
    display: flex;
    color: white;
    align-items: center;
}

.header-center ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    gap: 4px;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        justify-content: center;
    }

    .header-center ul {
        display: flex;
        flex-direction: column;
    }
    .header-center ul li {
        text-align: center;
    }
}
.header-center ul li a {
    margin: 5px;
    padding: 8px;
    gap: 4px;
    transition: all 200ms ease-in-out;
}
.Now {
    margin: 10px;
    padding: 100px;
    gap: 4px;
    background-color: #068bf7a9;
    border-radius:10px;
    cursor: pointer;
}
.Now:hover {
    background-color: #068bf7a9;
}
.reservation-link {
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.header-center ul a:hover {
    margin: 5px;
    padding: 8px;
    gap: 4px;
    background-color: #068bf72d;
    border-radius: 10px;
    cursor: pointer;
}
.header-center ul li img {
    width: 20px;
}
.header-bottom{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.header-bottom-items{
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(231, 200, 22);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.219);
}
.header-bottom-items input{
    margin: 3px;
    padding: 15px 10px;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans", serif;
    text-align: center;
}

.header-bottom-items input[type="submit"]{
    margin: 2px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #068bf7;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
}
.header-bottom-items input[type="submit"]:hover{
    background-color: #068bf7cb;
}
.hotelSearch{
    display: flex;
    justify-content: center;
}
.hotelSearch-center{
    display: flex;
    justify-content: space-between;
}
.hotelSearch-top{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.hotelSearch-center-left{
    width: 300px;
    padding: 20px;
}
.sortBox1 p{
    font-family: "Open Sans", serif;
    margin: 6px;
    padding: 10px;
    font-weight:500;
    font-size: 0.95rem;
    color: #313131;
}
.sortBox2{
    margin: 6px;
    padding: 10px;
}
.hotelSearch-center-right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.hotelSearch-center-right{
    width: 800px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;;
}
.Filter-checkbox{
    display: flex;
    gap: 1px;
    text-align: center;
    align-items: center;
    margin-top: 1px;
}
.Filter{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", serif;
    color: rgb(44, 44, 44);
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    font-size: 0.9rem;
    padding-bottom: 20px;
}
.Filter h2{
    color: rgba(34, 34, 34, 0.911);
    font-size: 1rem;
}
.Filter label{
    margin-top: 10px;
}
.submitFilter{
    padding: 15px 90px;
    border: none;
    color: white;
    background-color: #2196F3;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin: 10px;
}
.submitFilter:hover{
    background-color: #2196F3;
}
.FilterSubmit{
    text-align: center;   
}
.hotelSearch-center-left
.Filter-items{
    display: flex;
    flex-direction: column;
}
.Filter div label{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
.Filter-items div label{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
input[type='checkbox']{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #00000079;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type='checkbox']:checked{
    background-color: #2196F3;
    border: 2px solid #2196F3;
    position: relative;
}

input[type='checkbox']:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Filter h1{
    font-size: 1.2rem;
}
.sortOptions{
    position: absolute;
    backdrop-filter: blur(10px);
    color: #000000;
    background-color: #fffffff8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.158);
}
.sortOptions div p {
    margin-top: 10px;
    text-align: center;
}
.sortOptions div{
    padding: 5px 10px;
}

.sortOptions div:hover{
    background-color: rgba(219, 219, 219, 0.514);
    cursor: pointer;
    border-radius: 10px;
}
.sortButton{
    padding: 10px 15px;
    border: none;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.041);
    border: 1px solid rgba(0, 0, 0, 0.425);
    background-color: #233a55;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
}
.sortButton:hover{
    padding: 10px 15px;
    border: none;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.041);
    border: 1px solid rgba(0, 0, 0, 0.425);
    background-color: #233a55;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
}
.Cart-center{
    padding: 10px;
}
.Cart-center div h1{
    font-size: 1.2rem;
    color: #000;
}
.Cart-right{
    padding: 10px;
}
.Cart-right-top{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.Cart-right-top-first{
    display: flex;
    justify-items: end;
}
.Cart-right-top-second{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    text-align: end;
    color: rgb(0, 81, 255);
    font-weight: bolder;
    margin-top: -20px;
}
.Cart-right-top-first-left{
    text-align: end;
    width: 80px;
}
.Cart-right-top-first-left h2{
    font-size: 0.9rem;
}
.Cart-right-top-first-left p{
    font-size: 0.8rem;
    margin-top: -5px;
}
.Cart-right-top-first-right{
    background-color: #2196F3;
    font-size: 0.5rem;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 20px;
}
.Cart-right-bottom div{
    text-align: end;
}
.Price{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: -10px;
    color: #313131;
}
.bills{
    font-size: 0.7rem;
}
.inputLink{
    padding: 10px 15px;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    color: aliceblue;
    background-color: #2196F3;
    border-radius: 5px;
    cursor: pointer;
}
.Cart-right{
    display: flex;
    flex-direction: column;
}
.Cart-center div{
    margin: 10px;
}
.Cart-center div h1{
    font-size: 1.2rem;
}
.Cart-center div p{
    font-size: 0.8rem;
}
.Cart-left-rating{
    position: absolute;
    margin-top: -2rem;
    margin-left: 0.5rem;
    color: white;
    background-color: #000000;
    padding: 2px 4px
}
.line-Cart{
    margin-top: 30px;
    margin-left: 10px;
    height: 200px;
    width: 2px;
    background-color: #00000023;
}
.Cart-left input{
    position: absolute;
    margin: 10px;
    margin-left: -45.5px;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.267);
    transition: all 200ms ease-in-out;
}

.Cart-left input:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.info {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #42A5F5;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}
.pl{
font-size: 2rem;
}
.info2 p{
    padding: 15px 10px;
    transform: translate(300%, 10%);
    position: absolute;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 200;
    background-color: #1A2C42;
}
.sortBox1Day{
    font-weight: 200;
    color: rgb(49, 49, 49);
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
  }
.Price span {
    font-weight: lighter;
    font-size: 0.9rem;
    color: #707070;
}
  input[type="range"]::-moz-range-track {
    height: 15px;
    background:#1a2c424b;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.288);
  }
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: -407px 0 0 400px #2196F3;
  }
